.box-chat{
  padding:0;
  margin:0 auto;
  max-width:800px;
}

.box-chat .panel-heading{
}

.box-chat-header{
  /*padding:0;
  margin:20px;
  text-align: center;*/
}
.panel-heading .box-chat-header .header-title{

}

.panel.panel-body{
  /*height:670px;*/
}
.panel-heading .box-chat-header .header-archived{
  text-align: right;
  position:relative;
}
.box-chat-header .header-archived .header-archived-btn{
  text-decoration: none;
  color:#000;
  background:#fff;
  border:1px solid #fff;
  padding:10px 20px;
  position:absolute;
  top:-20px;
  left:-24px;
}
.box-chat-header .header-archived a:hover{
  text-decoration: none;
  background:rgba(200,200,200,0.2);
  color:#fff;
  transition:all 0.2s;
}
.box-chat-header .header-archived a:focus{
  background: rgba(0,0,0,0.2);
}

/*box chat left*/
.box-chat .box-chat-left{
  padding:20px;
  font-size:14px;
}

.box-chat-left .live-chat-main-box{
  margin:0;
  height:300px;
  overflow-y:scroll;
  overflow-x:hidden;
}

.left-item ul ,.left-item ul li{
  list-style: none;
}
.left-item li .chat-avatar{
  padding:10px;
}

.left-item .chat-info .chat-author{
  text-align: left;
}

.left-item .chat-info .chat-time{
  text-align: right;
  margin-right:10px;
}

.left-item .chat-info .chat-message{
  padding:10px 0 10px;
  margin-top:-20px;
}

.left-item li .chat-avatar img{
  max-width: 100%;
}
.live-chat-content .chat-avatar img {
   border: solid 1px #9e9e9e;
   padding: 1px;
   border-radius: 50%;
   width: 100%;
   height: auto;
 }

.left-item li .chat-info{
  width:100%;
  border-bottom:1px solid #c5c5c5;
  background: rgba(0,0,0,0.1);
}


.box-chat-left .left-form{
  padding:0;
}

.left-form .chat-button-send{
  float:right;
}

/*btn*/
.btn-send{
  padding: 5px 20px;
}

/*box right*/
.box-chat .box-chat-right{
  background: rgba(0,0,0,0.1);
  margin-top:33px;
}
.table.table-none-border tbody tr:first-child{
  border-bottom: 1px solid #444;
}
.left-form .block-button{
  width:10%;
  float:right;
  margin-right:22px;
}

.table.table-none-border{
  width:100%;
}
.iframe-youtube iframe{
  border:3px solid #fff !important;
}
.page-header{
  text-align: center;
}
/*===========NOTIFICATION==============*/
.notification-box{
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  min-height: 40px;
  padding: 10px;
  text-align: center;
  width: 190px;
  cursor:pointer;
  font-size:12px;
  position:absolute;
  left:50%;
  margin-left:-94px;
  bottom:0;
  display:none;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.notification-box:hover{
  background-color: #cdeff7;
  border-color: #b0e9f1;
  color: #2b6f8f;
  transition:all 0.12s;
}
.notification-box i.fa {
  display: block;
  text-align: center;
}
.live-chat-content{
  position:relative;
}
/*===========NOTIFICATION==============*/

.hide {
  display: none !important;
}

.bootstrap-filestyle {
  position: relative;
  overflow: hidden;
}

.bootstrap-filestyle .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.bootstrap-filestyle .btn-default {
  color: #333;
  background-color: #cecece;
  border-color: #ccc;
}
.bootstrap-filestyle .btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 2px 4px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.bootstrap-filestyle.input-group .form-control {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  font-size: 11px;
  left: 80px;
  position: absolute;
  top: 0;
  z-index: 99999;
}