body {
    font-family: "Open Sans", sans-serif;
}

.live-chat-container {
    padding: 0 15px 10px;
    width: 100%;
    text-align: left;
    margin-top: -10px;
}

.block-left {
    width: 85%;
    float: left;
}

.block-right {
    width: 100%;
    float: right;
    margin: 12px 0;
    text-align: justify;
}

.block-right iframe {

}

.live-chat-container.full-width {
    width: 1024px;
    margin: 60px auto 15px;
}

.clearfix {
    clear: both;
}

.live-chat-main li {
    list-style: none;
}

.live-chat-sidebar a.list-group-item {
    background: rgba(0, 0, 0, 0.2);
}

.live-chat-sidebar a.list-group-item.active {
    background-color: #444 !important;
    border-color: #f3f3f3 !important;
}

.live-chat-sidebar a.list-group-item:hover {
    background-color: #f3f3f3;
}

.live-chat-sidebar a.list-group-item:focus {
    background-color: #444;
    color: #f3f3f3;
}

.live-chat-content .btn-archive {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;

    border-radius: 4px;
    color: #4c4c4c;
    background-color: #fff;
    border-color: #ccc;
    text-decoration: none;
    position: relative;
    margin-top: -14px;

    float: right;
}

.btn-archive span.line {
    display: inline-block;
    border-left: #ccc 1px solid;
    width: 1px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;

    top: 0;
    right: 22px;
    position: absolute;
}

.btn-archive .fa-caret-down {
    padding-left: 15px;
}

.live-chat-content h3 {
    font-weight: normal;
    font-size: 16px;
}

.live-chat-content h3 a {
    text-decoration: none;
    color: #5c5c5c;
}

#live-chat-main-box {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.live-chat-main-box {
    max-height: 300px;
}

.live-chat-content .live-chat-main .live-chat-main-content li {
    margin-bottom: 0;
    border-bottom: solid 1px #d3d3d3;
    padding: 10px;
}

.live-chat-content .chat-avatar img {
    border: solid 1px #9e9e9e;
    padding: 1px;
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.listing-author-info .chat-avatar img {
    max-width: 90px;
}

.live-chat-content .chat-time {
    float: right;
    font-size: 13px;
    color: #ffffff;
    margin: 10px 10px 5px;
}

.live-chat-content .block-message .form-group {
    margin-bottom: 5px !important;
}

.live-chat-content .block-message {
}

.live-chat-content .block-button {
    float: right;
}

@media (max-width: 767px) {
    .live-chat-content .panel-body .block-message {
        padding: 0 25px 0 0;
    }

    .live-chat-content .panel-body .block-button {
        padding: 0 5px 0 20px;
    }
}

@media (max-width: 392px) {
    #live_chat_ajax_archived {
        position: absolute;
        top: 39px;
        right: 25px;
    }
}

.live-chat-main-content .chat-info {
    margin-top: -15px;
}

.live-chat-main-content .chat-message {
    font-size: 14px;
    color: #ffffff;
    padding: 0;
}

.live-chat-main-content .chat-author {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
}

.live-chat-main-form {
}

.live-chat-main-form textarea {
    height: 90px;
}

.live-chat-main-form .chat-button-send {
    color: #fff !important;
    min-width: 100px;
    border: 1px solid #fff;
    text-transform: capitalize;
    padding: 10px 30px 11px;
    background: none repeat scroll 0 0 #ff9900 !important;
    border-color: #fff !important;
    box-shadow: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    margin-top: 10px;
    margin-bottom: 30px;
}

.live-chat-main-form .chat-button-send:hover {
    /*background-color: #f3f3f3;
    color: #000;*/
}

.middle-block .btn-white {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    margin: 0 0 10px 20px;
    padding: 9px 25px;
    text-transform: uppercase;

}

.middle-block .btn-white:hover, .middle-block .btn-white:focus {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.15s linear 0s;
}

.live-chat-main-content {
    padding-left: 0;
}

.live-chat-main-content h5 {
    font-weight: normal;
    font-size: 13px;
    margin: 10px 0px 5px 0px;
}

.listing-author-info h5 {
    font-weight: normal;
    font-size: 15px;
    margin: 15px 0px 5px 0px;
    color: #3c3c3c;
}

.space-left-40 {
    margin-left: -40px;
}

.space20 {
    margin-top: 15px;
}

.panel-body {
    width: 100%;
!important;
}

.panel-body-right {
    border-color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;

}

.panel-body-right .border-bottom {
    display: inline-block;
    border-bottom: solid 2px #b1b1b1;
    height: 2px;
    width: 100%;
}

.panel-body-left {
    padding-bottom: 60px !important;
    border-color: #fff;
    border-width: 0;
    border-style: solid;
    margin: 0 -30px 50px 0;
}

.panel-body-right .chat-avatar {
    text-align: center;
}

.panel-body-right .listing-author-info h5 {
    font-weight: normal;
    font-size: 15px;
}

.live-chat-main-content .chat-item {
    margin-bottom: 60px;
}

.live-chat-main-content .chat-item .chat-avatar {

}

#panel-body-left {
    padding: 0px;
}

#panel-body-right {
    background: rgba(200, 200, 200, 0.8);
    text-align: center;
}

#panel-body-right .listing-author-info {
    padding: 15px;
}

.live-chat-main-content {
    margin-left: 0;
    margin-bottom: 0;
}

#live-chat-main-form {
    padding: 0;
}

.list-chat {
    width: 100%;
    height: 100px;
    background: #f3f3f3;
}

.list-chat li {
    list-style: none;
}

.list-chat .check-item {
    text-align: center;
}

.list-chat .user-avatar {
    padding: 0;
    margin: 0;
}

.table-chat .user-avatar {
    border: solid 1px #a3a3a3;
    border-radius: 50%;
    max-width: 64px;
    height: auto;
    padding: 1px;
}

.list-chat .user-info .chat-author {
    font-size: 14px;
    font-weight: normal;
    color: #5c5c5c;
}

.list-chat .user-info h5 {
    padding: 0;
    margin: 0;
}

.list-chat .user-info .last-time {
    font-size: 12px;
    font-weight: normal;
    color: #a3a3a3;
}

.list-chat .last-message .title {
    font-size: 14px;
    font-weight: normal;
    color: #4c4c4c;
}

.list-chat .last-message .message {
    font-size: 14px;
    font-weight: normal;
    color: #6c6c6c;
}

.table-chat, .table-chat th {
    border: none;
    margin-bottom: 60px;
}

.table-chat thead th:last-child {
    border: none;
    margin-bottom: 60px;
    text-align: right;
}

.table-chat tbody tr {
    background: rgba(0, 0, 0, 0.2);
}

.table-chat tbody tr:hover {
    background: rgba(185, 185, 185, 0.2);
    transition: all 0.12s;
}

.table-chat tbody tr:nth-child(even):hover {
    background: rgba(232, 232, 232, 0.2);
}

.table-chat td {
    height: 110px;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-top: #dbdbdb 1px solid;
    border-bottom: #dbdbdb 1px solid;
    vertical-align: top;
    padding-top: 5px;
}

.table-chat td:first-child {
    border-left: #dbdbdb 1px solid;
}

.table-chat td:last-child {
    border-right: #dbdbdb 1px solid;
}

.table-chat tbody tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

.table-chat tbody tr:first-child td:last-child {
    border-top-right-radius: 5px;
    padding-top: 5px;
}

.table-chat tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.table-chat tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.table-chat tbody tr:nth-child(even) td {
    background: rgba(0, 0, 0, 0.2);
    padding-top: 5px;
}

.table-chat .username {
    font-weight: 600;
    color: #fff;
}

.table-chat .gray {
    color: #fff;
    font-size: 14px;
}

.table-chat td a {
    font-weight: bolder;
    color: #fff;
}

.table-chat td .listing-description {
    margin-top: 5px;
}

.table-chat td .listing-description a {
    font-weight: normal;
    color: #fff
}

.table-chat td input[type="checkbox"] {
    margin: 15px 0 0 12px;
}

.middle-block {
    padding: 0;
}

@media (max-width: 767px) {
    .middle-block {
        padding: 10px 0 0 0;
    }
}

.table .table-chat thead {
    position: absolute;
}

.btn-block {
    width: 100%;
    padding: 8px 15px !important;
}

.table-chat td.no-record {
    height: 50px;
    vertical-align: middle;
}

.page-cover {
    margin-bottom: 5px;
    width: 90%;
    float: left;
}

.is_admin.list-action {
    float: left;
    margin-top: 30px;
    text-align: right;
    width: 10%;
}

.list-action.action ul {
    padding: 0;
}

.list-action.action ul li {
    list-style: none;
}

.list-action.action ul li a {
    color: #444;
    padding-left: 20px;
    padding-right: 76px;
}

.list-action.action ul li:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.list-action.action {
    background: #fff none repeat scroll 0 0;
    height: 110px;
    line-height: 40px;
    margin-left: -135px;
    position: absolute;
    text-align: left;
    width: 200px;
    display: none;
}

.hidden {
    display: none;
}

.table.table-none-boder {
    width: 100%;
}

.table.table-none-boder thead tr td:first-child, .table.table-none-boder tbody tr td:first-child {
    padding-right: 7px;
}

.table.table-none-boder tbody tr:first-child {
    border-bottom: 1px solid #fff;
}

.live-chat-main-form .table.table-none-boder tbody tr:first-child {
    border-bottom: none;
}

.iframe-youtube iframe {
    border: 3px solid #fff !important;
    margin-top: 4px !important;
}

/*===========NOTIFICATION==============*/
.notification-box {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    min-height: 50px;
    padding: 10px;
    text-align: center;
    width: 190px;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    left: 50%;
    margin-left: -94px;
    bottom: 220px;
    display: none;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.notification-box i.fa {
    display: block;
    text-align: center;
}

.notification-box:hover {
    background-color: #cdeff7;
    border-color: #b0e9f1;
    color: #2b6f8f;
    transition: all 0.12s;

}

.live-chat-content {
    position: relative;
}

.form-group {
    margin-bottom: 5px;
}
.iframe-youtube video {
    margin-top: 5px;
}
#send-message-loading {
    display: inline-block;
    margin-right: 15px;

    background: #ff9900 none repeat scroll 0 0 !important;
    border-color: #fff !important;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: none !important;
    color: #fff !important;
    margin-bottom: 30px;
    margin-top: 10px;
    min-width: 100px;
    padding: 10px 30px 11px;
    text-transform: capitalize;
    transition: all 0.3s linear 0s;
}

/*===========NOTIFICATION==============*/

.bootstrap-filestyle {
    position: relative;
    overflow: hidden;
}

.bootstrap-filestyle .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.bootstrap-filestyle .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.bootstrap-filestyle .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 2px 4px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.bootstrap-filestyle.input-group .form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    font-size: 11px;
    left: 80px;
    position: absolute;
    top: 0;
    z-index: 99999;
}